
<article class="guitarDetails" *ngIf="this.guitar!= undefined">
  <h4>Model: {{ this.guitar.model }}</h4>
  <h4>Body Type: {{ this.guitar.bodyType }}</h4>
  <h4>Manufacturer: {{ this.guitar.manufacturer }}</h4>
  <h4>Materials</h4>
  <ul>
    <li>Body: {{ this.guitar.materials?.body }}</li>
    <li>Fretboard: {{ this.guitar.materials?.fretboard }}</li>
    <li>Neck: {{ this.guitar.materials?.neck }}</li>
  </ul>
  <h4>Strings: {{ this.guitar.strings }}</h4>
  <img [src]="this.guitar.image" />
</article>